//- base.pug: It is a standard template that we will use to fill for other pages.
doctype html
html
  head
    title HipHop Dance Academy | HDA
    block script 
    block style 
  body
    block content
    footer#footer
      | Copyright © 2024 HipHop Dance Academy. All rights reserved. Unauthorized duplication or distribution of content from the "Hip-Hop Dance Academy" website is strictly prohibited.